<svg
	class={$$props.class}
	width="56"
	height="53"
	viewBox="0 0 56 53"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
>
	<defs>
		<path id="a" d="M0 0h39v25H0z" />
		<path id="c" d="M0 0h17v35H0z" />
		<path id="e" d="M0 0h16v12H0z" />
	</defs>
	<g fill="none" fill-rule="evenodd">
		<path
			d="M24.25 43.273c1.54 5.614 7.063 9.899 9.853 9.722.098-.007 10.58-1.933 16.318-11.384 4.466-7.355 2.946-14.456-3.128-14.611-2.185.157-25.977 5.576-23.043 16.273"
			fill="#0e3ca5"
		/>
		<g transform="translate(12)">
			<mask id="b" fill="#fff">
				<use xlink:href="#a" />
			</mask>
			<path
				d="m35.164 6.45-.006-.006.009-.005A26.5 26.5 0 0 0 17.816 0c-3.87 0-7.542.838-10.864 2.33a15.81 15.81 0 0 0-1.697.838c-.375.202-.751.403-1.116.622l.089.028a12.24 12.24 0 0 0-2.825 2.7c-7.684 10.25 18.07 17.699 31.838 17.723 6.334 4.592 8.112-12.926 1.923-17.79"
				fill="#0e3ca5"
				mask="url(#b)"
			/>
		</g>
		<path
			d="M20.26 6.39c-3.534 5.36-15.31 9.138-17.247 8.55L3 14.915a28.448 28.448 0 0 1 5.354-7.523 28.393 28.393 0 0 1 5.535-4.346C15.54 2.083 17.227 2.02 17.783 2c5.244.101 2.506 4.348 2.477 4.39"
			fill="#5493f7"
		/>
		<g transform="translate(0 18)">
			<mask id="d" fill="#fff">
				<use xlink:href="#c" />
			</mask>
			<path
				d="M16.9 26.226c.249 1.66-.006 8.215-.34 8.768-.288.018-.888.055-2.625-.935a27.56 27.56 0 0 1-2.635-1.736 27.896 27.896 0 0 1-5.975-6.069 28.076 28.076 0 0 1-3.918-7.694 28.253 28.253 0 0 1-1.046-4.313 28.71 28.71 0 0 1 0-9.094A28.228 28.228 0 0 1 1.697.001L1.699 0c1.99 2.688 4.291 5.119 6.249 7.834 1.863 2.584 4.427 6.798 4.949 7.697 3.24 5.59 3.755 9.038 4.003 10.695"
				fill="#5493f7"
				mask="url(#d)"
			/>
		</g>
		<path
			d="M56 27.76c0 3.667-.693 7.17-1.954 10.385-3.306 3.579-25.602-5.23-25.821-5.327-3.05-1.346-12.332-5.44-13.17-11.872C13.852 11.693 32.495 5.245 40.686 5c.983.011 3.973.047 5.715 1.473A28.289 28.289 0 0 1 56 27.76"
			fill="#5493f7"
		/>
		<g transform="translate(37 41)">
			<mask id="f" fill="#fff">
				<use xlink:href="#e" />
			</mask>
			<path
				d="M4.511 11.498c-2.424 1.132-5.093.308-4.4-2.055C1.443 4.906 13.067.255 15.634.003c.316-.031.45.185.31.431C13.27 5.126 9.306 8.991 4.512 11.498"
				fill="#5493f7"
				mask="url(#f)"
			/>
		</g>
	</g>
</svg>
