<div class="col-span-2">
  <p class="font-medium text-normal lg:text-d-lead text-text-primary mt-[20px]">New features and primitives undergo extensive research, design, and debate by the community and are subject to THORChain's node governance processes. New blockchains are connected periodically.</p>
  <br>
  <div class="flex">
    <a href="https://medium.com/p/c1488da2c238" target="_blank" rel="noopener noreferrer"><h2 class="font-bold text-title-medium tracking-[.2em] text-black bg-green py-[6px] px-4 hover:scale-110 transform transition duration-500">What's Coming in 2023?</h2></a>
  </div>
</div>