<script lang="ts" context="module">
	import type { Load } from '@sveltejs/kit';

	export const load: Load = async ({ url }) => {
		return {
			props: {
				url,
			},
		};
	};
</script>

<script lang="ts">
	import { QueryClientProvider } from '@sveltestack/svelte-query';

	import { queryClient } from '$lib/services/queries';

	import Footer from '$lib/components/Footer/Footer.svelte';
	import Header from '$lib/components/Header/Header.svelte';
	import PageTransition from '$lib/components/PageTransition/PageTransition.svelte';

	import '../app.css';

	export let url: string;
</script>

<main class="container mx-auto min-h-full flex flex-col">
	<QueryClientProvider client={queryClient}>
		<Header />

		<div class="flex-1">
			<PageTransition {url}>
				<slot />
			</PageTransition>
			<Footer />
		</div>
	</QueryClientProvider>
</main>
