<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import EcosystemHero from '../lib/components/Hero/EcosystemHero.svelte';
	import CommunityRow from '../lib/components/CommunityRow/CommunityRow.svelte';
	import JoinCommunity from '../lib/components/JoinCommunity/JoinCommunity.svelte';
	import AppsAndServices from '../lib/components/AppsAndServices/AppsAndServices.svelte';
	import Updates from '$lib/components/Updates/Updates.svelte';
</script>

<svelte:head>
	<title>Ecosystem - THORChain</title>
</svelte:head>

<div>
	<EcosystemHero />
	<AppsAndServices />
	<Updates />
	<CommunityRow />
	<JoinCommunity />
</div>
