<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import Hero from '../lib/components/Hero/Hero.svelte';
	import WhatIsThorchain from '../lib/components/WhatIsThorchain/WhatIsThorchain.svelte';
	import Mission from '../lib/components/Mission/Mission.svelte';
	import Features from '../lib/components/Features/Features.svelte';
	import Roadmap from '../lib/components/Roadmap/Roadmap.svelte';
	import Updates from '../lib/components/Updates/Updates.svelte';
	import CommunityRow from '../lib/components/CommunityRow/CommunityRow.svelte';
	import Integrated from '../lib/components/Integrated/Integrated.svelte';
</script>

<svelte:head>
	<title>THORChain</title>
</svelte:head>

<div>
	<Hero />
	<WhatIsThorchain />
	<Integrated />
	<Mission />
	<Features />
	<Roadmap />
	<Updates />
	<CommunityRow />
</div>
