<script context="module" lang="ts">
	export const prerender = true;
</script>

<script lang="ts">
	import IntegrateHero from '../lib/components/Hero/IntegrateHero.svelte';
	import IntegrateWhy from '../lib/components/IntegrateWhy/IntegrateWhy.svelte';
	import IntegrateWho from '../lib/components/IntegrateWho/IntegrateWho.svelte';
	import IntegrateDocs from '../lib/components/IntegrateDocs/IntegrateDocs.svelte';
</script>

<svelte:head>
	<title>Integrate - THORChain</title>
</svelte:head>

<div>
	<IntegrateHero />
	<IntegrateWhy />
	<IntegrateWho />
	<IntegrateDocs />
</div>
