<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import LinkCard from '$lib/components/LinkCard/LinkCard.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Documentation</SectionHeader>
	<SectionTitle>Getting Started with THORChain</SectionTitle>
	<SectionDescription
		>Read the documentation and get started with integrating THORChain infrastructure to power your app</SectionDescription
	>

	<div class="grid grid-cols-1 lg:grid-cols-2 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]">
		<LinkCard
			category=""
			categoryClass="text-green"
			title="Network Docs"
			description="Documentation pertaining to the network: emissions schedule,
		incentive pendulum, liquidity, synthetic assets, lending, etc."
			buttonText="View Docs"
			href="https://docs.thorchain.org/"
		/>

		<LinkCard
			category=""
			categoryClass="text-green"
			title="Developer Docs"
			description="Documentation pertaining to integrating THORChain: wallets, fees, transaction memos, libraries, middleware, CLIs, etc."
			buttonText="View Docs"
			href="https://dev.thorchain.org/thorchain-dev/"
		/>
	</div>

</Section>
