<script>
	import Gitlab from '$lib/icons/Gitlab.svelte';
	import Medium from '$lib/icons/Medium.svelte';
	import Telegram from '$lib/icons/Telegram.svelte';
	import Twitter from '$lib/icons/Twitter.svelte';
	import Gitbook from '$lib/icons/Gitbook.svelte';
</script>

<div
	class="pt-[36px] lg:pt-[80px] pb-[40px] lg:pb-[60px] space-y-[25px] lg:space-y-[80px] border-t-[1px] border-medium-gray"
>
	<div class="flex flex-wrap gap-y-[25px] lg:gap-y-[50px]">
		<div class="flex flex-col w-1/2 lg:w-1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">THORChain</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-small text-text-secondary"
			>
				<a href="https://docs.thorchain.org/" target="_blank" rel="noopener noreferrer">
					Documentation
				</a>
				<a
					href="https://github.com/thorchain/Resources/tree/master/Whitepapers"
					target="_blank"
					rel="noopener noreferrer"
				>
					Whitepapers
				</a>
				<a
					href="https://thorchain.net"
					target="_blank"
					rel="noopener noreferrer"
				>
					Dashboard
				</a>
				<a
				href="https://github.com/thorchain/Resources/tree/master/Audits"
				target="_blank"
				rel="noopener noreferrer"
			>
				Audits
			</a>
				<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">Medium</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 lg:w-1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Develop</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-small text-text-secondary"
			>
				<a
					href="https://dev.thorchain.org/thorchain-dev/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Documentation
				</a>
				<a
					href="https://docs.thorchain.org/thornodes/overview"
					target="_blank"
					rel="noopener noreferrer"
				>
					Node Operators
				</a>
				
				<a href="https://discord.gg/tW64BraTnX" target="_blank" rel="noopener noreferrer">
					Dev Discord
				</a>
				<a href="https://immunefi.com/bounty/thorchain/" target="_blank" rel="noopener noreferrer">
					Bug Bounties
				</a>
				<a href="https://xchainjs.org" target="_blank" rel="noopener noreferrer">
					XChain.JS
				</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 lg:w-1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Community</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-small text-text-secondary"
			>
			
			<a href="https://linktr.ee/multichain" target="_blank" rel="noopener noreferrer">Linktree</a>
			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">Twitter</a>
			<a href="https://discord.gg/lpuniversity" target="_blank" rel="noopener noreferrer">
					LP University
				</a>
				<a href="https://www.twitter.com/ninerealms_cap" target="_blank" rel="noopener noreferrer">Nine Realms</a>
				<a
					href="https://www.youtube.com/grassrootscrypto"
					target="_blank"
					rel="noopener noreferrer"
				>
					GRC Videos
				</a>
			</div>
		</div>

		<div class="flex flex-col w-1/2 lg:w-1/4">
			<p class="text-small lg:text-d-h4 text-text-primary font-extrabold">Explorers
			</p>

			<div
				class="flex flex-col space-y-[10px] mt-[15px] lg:mt-[28px] text-small text-text-secondary"
			>
				<a href="https://thorchain.net" target="_blank" rel="noopener noreferrer">THORChain.net</a>			
				<a href="https://viewblock.io/thorchain" target="_blank" rel="noopener noreferrer">Viewblock</a>
				<a href="https://www.thoryield.com" target="_blank" rel="noopener noreferrer">THORYield</a>
				<a href="https://thorcharts.org" target="_blank" rel="noopener noreferrer">THORCharts</a>
				<a href="https://t.me/thor_infobot" target="_blank" rel="noopener noreferrer">Infobot</a>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap gap-y-[25px] justify-between text-text-teriary">
		<p class="text-xsmall">All THORChain brand is public domain. No rights reserved.</p>

		<div class="flex items-center space-x-[20px] order-first sm:order-1">
			<a href="https://docs.thorchain.org" target="_blank" rel="noopener noreferrer">
				<Gitbook class="w-5 h-5" />
			</a>
			<a href="https://gitlab.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Gitlab class="w-5 h-5" />
			</a>
			<a href="https://medium.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Medium class="w-5 h-5" />
			</a>
			<a href="https://t.me/thorchain_org" target="_blank" rel="noopener noreferrer">
				<Telegram class="w-5 h-5" />
			</a>
			<a href="https://twitter.com/thorchain" target="_blank" rel="noopener noreferrer">
				<Twitter class="w-5 h-5" />
			</a>
		</div>
	</div>
</div>
