<script lang="ts">
	import 'swiper/css';

	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import Section from '$lib/components/Section/Section.svelte';
	import SectionHeader from '$lib/components/Section/SectionHeader.svelte';
	import SectionTitle from '$lib/components/Section/SectionTitle.svelte';

	import { updates } from '$lib/services/constants';
</script>

<Section>
	<SectionHeader>News & Articles</SectionHeader>
	<SectionTitle>Media</SectionTitle>

	<Swiper
		class="absolute right-0 grid grid-cols-1 md:grid-cols-3 text-white mt-[10px] md:mt-[30px]"
		loop
		slidesPerView="auto"
	>
		{#each updates as update}
			<SwiperSlide class="first:pl-0 pl-[30px]">
				<div class="bg-dark-gray hover:bg-medium-gray">
					<a href={update.url} target="_blank" rel="noopener noreferrer">
						<img class="w-full aspect-auto" src={update.thumbnail} alt={update.title} />

						<div class="py-[15px] px-[20px] lg:py-[20px] lg:px-[30px]">
							<h4 class="text-small lg:text-d-h4 font-extrabold">
								{update.title}
							</h4>

							<a href={update.url} class="text-text-teriary lg:text-xsmall text-xxsmall mt-[10px]">
								{new URL(update.url).host}
							</a>
						</div>
					</a>
				</div>
			</SwiperSlide>
		{/each}
	</Swiper>
</Section>
