<script lang="ts">
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';

	import { usePoolData } from '$lib/services/queries';

	const tradeTableQuery = usePoolData();

	$: tradeTableData = $tradeTableQuery.data;
	$: tradeTableIsLoading = $tradeTableQuery.isLoading;

	let innerWidth = 0;

	$: swipePerView = innerWidth > 1280 ? 3 : 2;

	export let usePrice = true;
</script>

<svelte:window bind:innerWidth />

{#if !tradeTableIsLoading}
	<div
		class="flex flex-row space-y-[10px] sm:space-y-0 justify-start sm:justify-center lg:justify-start select-none mt-[40px]"
	>
		<Swiper
			modules={[Autoplay]}
			slidesPerView={swipePerView}
			autoplay
			loop
			speed={3000}
			preventInteractionOnTransition
		>
			{#each tradeTableData as asset}
				{#if usePrice || (!usePrice && +asset.poolAPY > 1)}
					<SwiperSlide class="text-text-primary" data-swiper-autoplay="0">
						<p class="font-extrabold text-xsmall text-text-primary">
							{asset.name}:
							<span class="text-green">
								{#if usePrice}
									{asset.priceUSD}
								{:else}
									{asset.poolAPY}%
								{/if}
							</span>
						</p>
					</SwiperSlide>
				{/if}
			{/each}
		</Swiper>
	</div>
{/if}
