<script lang="ts">
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
	import SectionDescription from '../Section/SectionDescription.svelte';

	import CheckItem from './components/CheckItem.svelte';
	import Upcoming from './components/Upcoming.svelte';
	import Section from '$lib/components/Section/Section.svelte';
</script>

<Section>
	<SectionHeader>UPCOMING</SectionHeader>
	<SectionTitle>Chain Agnostic Service Provider</SectionTitle>
	<SectionDescription>
		THORChain’s strong foundation for cross-chain communication enables much more than swaps.
	</SectionDescription>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[50px] border-[1px] border-green px-[30px] py-[30px] mt-[30px] md:mt-[40px]"
	>
		<Upcoming />
		<div class="space-y-[10px]">
			<a href="https://docs.thorchain.org/thorchain-finance/synthetic-asset-model" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Synthetic Assets</CheckItem></a>	
			<a href="https://dev.thorchain.org/thorchain-dev/aggregators/aggregator-overview" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>DEX Aggregation</CheckItem></a>	
			<a href="https://medium.com/thorchain/thorchain-savers-vaults-fc3f086b4057" target="_blank" rel="noopener noreferrer"><CheckItem isChecked={true}>Single-Sided Yield</CheckItem></a>	
			<a href="https://docs.thorchain.org/thorchain-finance/synthetic-asset-model#protocol-owned-liquidity-pol" target="_blank" rel="noopener noreferrer"><CheckItem>Protocol Owned Liquidity</CheckItem></a>	
			<a href="https://docs.thorchain.org/thorchain-finance/lending" target="_blank" rel="noopener noreferrer"><CheckItem>Lending</CheckItem></a>	
			<a href="https://gitlab.com/thorchain/thornode/-/issues/1364" target="_blank" rel="noopener noreferrer"><CheckItem>Order Book</CheckItem></a>			
		</div>
	</div>
</Section>
