<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';

	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';
	import CardButton from '../Card/CardButton.svelte';

	import SectionDescription from '../Section/SectionDescription.svelte';
	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Integrations</SectionHeader>
	<SectionTitle>Why Integrate THORChain?</SectionTitle>
	<SectionDescription
		>Make your application multichain by integrating THORChain.</SectionDescription
	>

	<div
		class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin2.png" alt="connect" />
			<CardTitle>No Heavy Lifting</CardTitle>
			<CardDescription>
				Give your users access to real Bitcoin without having to deal with security and liquidity issues.
				Any application can use THORChain’s liquidity pools to power their own business.
				Implementation is quick and simple.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/donate.png" alt="shield" />
			<CardTitle>Collect Affiliate Fees, Earn Rewards</CardTitle>
			<CardDescription>
				Earn fees from cross-chain transactions executed through your website.
				Specify your own affiliate fee and get paid out for every swap.
			</CardDescription>
			<a href="https://dev.thorchain.org" target="_blank" rel="noopener noreferrer"><CardButton>Get Started</CardButton></a>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/blockchain.png" alt="tree" />
			<CardTitle>Enable Cross-Chain Swaps & Purchases</CardTitle>
			<CardDescription>
				THORChain opens up crypto applications to users of every blockchain.
				Have users make a purchase on your Ethereum-powered app
				using BTC, LTC, BCH, BUSD, and more.
			</CardDescription>
		</Card>
		<Card>
			<img width="70px" height="70px" src="/images/icons/bitcoin.png" alt="coin" />
			<CardTitle>Expand Your Customer Base</CardTitle>
			<CardDescription>
				Today, few apps support native Bitcoin, despite an overwhelming demand.
				Most apps support only one blockchain.
				Expand your potential customer base by going multichain.
			</CardDescription>
		</Card>
	</div>
</Section>
