<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx(
		'uppercase font-extrabold text-title-small md:text-title-medium tracking-[0.2em]',
		$$props.class,
	);
</script>

<h1 class={classNames}>
	<slot />
</h1>
