<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import Card from '../Card/Card.svelte';
	import CardDescription from '../Card/CardDescription.svelte';
	import CardTitle from '../Card/CardTitle.svelte';

	import SectionHeader from '../Section/SectionHeader.svelte';
	import SectionTitle from '../Section/SectionTitle.svelte';
</script>

<Section>
	<SectionHeader>Liquidity Provision</SectionHeader>
	<SectionTitle>Become a Liquidity Provider</SectionTitle>

	<div
		class="grid grid-cols-1 lg:grid-cols-3 gap-[15px] md:gap-[30px] text-white mt-[30px] md:mt-[40px]"
	>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">More Yield</CardTitle>
			<CardDescription>
				Liquidity Providers earn double the yield of Savers in the same pool. Liquidity providers insure Savers from impermanent loss, so they earn extra yield.
			</CardDescription>
		</Card>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">Earn From Every Swap</CardTitle>
			<CardDescription>
				Liquidity providers earn liquidity fees from every swap that takes place on THORChain in addition to block rewards paid from the Reserve.
			</CardDescription>
		</Card>
		<Card class="col-span-1">
			<CardTitle size="large" class="mt-0">Withdraw Anytime</CardTitle>
			<CardDescription>
				THORChain is permissionless to deposit and withdraw. Only your key can be used to move your funds. Liquidity providers can withdraw their position to native
				assets at any time.
			</CardDescription>
		</Card>
	</div>
</Section>
