<script lang="ts">
	import AssetTicker from '$lib/components/AssetTicker/AssetTicker.svelte';
	import DesktopHeroVideo from '$lib/components/Hero/components/DesktopHeroVideo.svelte';
	import MobileHeroVideo from '$lib/components/Hero/components/MobileHeroVideo.svelte';
	import Section from '$lib/components/Section/Section.svelte';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	import { Autoplay } from 'swiper';
	import { Swiper, SwiperSlide } from 'swiper/svelte';
	const swiperValues = ['Trade Bitcoin', 'Trade Ether', 'Trade ERC-20s', 'Trade BNB', 'Trade BUSD', 'Trade USDC', 'Trade DOGE', 'Trade AVAX', 'Trade ATOM', 'Trade USDT', 'Trade Litecoin', 'Trade BCH', 'Trade RUNE'];
</script>

<Section>
	<div class="relative flex mt-[20px] lg:mt-[76px] lg:items-center">
		<MobileHeroVideo
			posterSrc="/images/video-posters/swap-hero-poster.png"
			videoSrc="/videos/swap-hero.mp4"
		/>

		<div
			class="flex flex-col mt-[250px] sm:mt-[470px] lg:mt-0 space-y-[25px] w-full lg:w-7/12 lg:text-left text-center z-[1]"
		>
			<h1 class="text-m-h1 sm:text-d-h1 text-text-primary font-extrabold">
				<Swiper modules={[Autoplay]} slidesPerView={1} autoplay loop spaceBetween={0}>
					{#each swiperValues as value}
						 <SwiperSlide class="text-text-primary pb-2 lg:pb-0">
							{value}
						</SwiperSlide>
					{/each}
				</Swiper>
			  <span class="text-green">On Chain</span><br />
			</h1>

			<p class="text-normal sm:text-d-lead text-text-secondary font-medium">
				Swap native assets directly with any non-custodial wallet across nine blockchains, with more to come.
			</p>

			<AssetTicker />
		</div>

		<DesktopHeroVideo
			posterSrc="/images/video-posters/swap-hero-poster.png"
			videoSrc="/videos/swap-hero.mp4"
		/>
	</div>
</Section>
