<script lang="ts">
	import Section from '$lib/components/Section/Section.svelte';
	import { useSwapTableData } from '$lib/services/queries';

	import AssetCard from '../AssetCard/AssetCard.svelte';

	const swapTableQuery = useSwapTableData();

	$: tableData = $swapTableQuery.data;
</script>

<Section>
	<!-- <div
		class="grid grid-cols-1 md:grid-cols-10 gap-[50px] border-[1px] border-green px-[50px] py-[50px]"
	>
		<div class="col-span-1 md:col-span-8">
			<h2 class="font-extrabold text-d-h3 text-text-primary">THORSwap</h2>
			<p class="font-medium text-normal text-text-primary mt-[20px]">
				THORSwap is one of the leading Cross-Chain DEX aggregator powered by THORChain.
				Perform cross-chain swaps in a permissionless, trustless, and non-custodial manner.
			</p>
		</div>
	</div> -->

	{#if tableData}
		<div class=" text-text-primary space-y-[30px] mt-[40px]">
			{#each tableData as data}
				<AssetCard
					category={data.chain}
					categoryClass={data.color}
					title={data.name}
					priceUSD={data.priceUSD}
					volume24h={data.volume24h}
					href={data.swapURL}
					icon={data.icon}
				/>
			{/each}
		</div>
	{/if}
</Section>
