<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx(
		'font-normal text-small lg:text-d-lead text-text-primary text-center mt-[10px] md:mt-[30px]',
		$$props.class,
	);
</script>

<h3 class={classNames}>
	<slot />
</h3>
