<script lang="ts">
	import cx from 'classnames';

	$: classNames = cx(
		'uppercase font-bold text-title-medium lg:text-title-big tracking-[.2em] text-green text-center',
		$$props.class,
	);
</script>

<h1 class={classNames}>
	<slot />
</h1>
