<script lang="ts">
	import AssetCard from '$lib/components/AssetCard/AssetCard.svelte';
	import Section from '$lib/components/Section/Section.svelte';

	import { useLPTableData } from '$lib/services/queries';

	const tableDataQuery = useLPTableData();

	$: tableData = $tableDataQuery.data;
</script>

<Section>
	<div class="border-[1px] border-green p-[50px]">
		<h2 class="font-extrabold text-d-h3 text-text-primary">Savers Vaults</h2>
		<p class="font-medium text-normal text-text-primary mt-[20px]">
			Savers is the simplest way to provide liquidity to THORChain. Users can deposit any major Layer 1 asset and earn without RUNE price exposure. Withdraw to native assets at any time.
		</p>
	</div>

	{#if tableData}
		<div class=" text-text-primary space-y-[30px] mt-[40px]">
			{#each tableData as data}
				<AssetCard
					category={data.chain}
					categoryClass={data.color}
					title={data.name}
					liquidity={data.liquidity}
					poolAPY={data.poolAPY}
					href={data.depositURL}
					icon={data.icon}
				/>
			{/each}
		</div>
	{/if}
</Section>
